{% load static %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Untree.co">
	{% block favicon %}
	<link rel="shortcut icon" href="{% static "images/favicon.png" %}">
	{% endblock favicon %}
	<meta name="description" content="" />
	<meta name="keywords" content="bootstrap, bootstrap5" />

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap" rel="stylesheet">


	<link rel="stylesheet" href="{% static "fonts/icomoon/style.css" %}">
	<link rel="stylesheet" href="{% static "fonts/flaticon/font/flaticon.css" %}">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

	
	<!--fontawesome icon-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

	<link rel="stylesheet" href="{% static "css/tiny-slider.css" %}">
	<link rel="stylesheet" href="{% static "css/aos.css" %}">
	<link rel="stylesheet" href="{% static "css/glightbox.min.css" %}">
	<link rel="stylesheet" href="{% static "css/style.css" %}">

	<link rel="stylesheet" href="{% static "css/flatpickr.min.css" %}">

	


	<title>Blogy &mdash; Our Vision Is Share Knowladge With You</title>

</head>
<body>

	

	{% include "nav.html" %}

	<!-- Start retroy layout blog posts -->
	<section class="section bg-dark">
		<div class="container">
			<div class="row align-items-stretch retro-layout">
                
                    
                    <div class="col-md-4">
                        {% for post in posts|slice:2 %}
                        
                        <a href="{% url "blog-post" post.id %}" class="h-entry mb-30 v-height gradient">

                            <div class="featured-img" style="background-image: url('{{post.cover.url}}');"></div>

                            <div class="text">
                                <span class="date">{{ post.created | date:'d, F Y'}}</span>
                                <h2>{{post.title}}</h2>
                            </div>
                        </a>
                        
                       
                        
                        {% endfor %}
                        
                    </div>

                    
                    
                    
                
				<div class="col-md-4">

                    {% for post in posts|slice:'2:3' %}
                    
					<a href="{% url "blog-post" post.id %}" class="h-entry img-5 h-100 gradient">

						<div class="featured-img" style="background-image: url('{{post.cover.url}}');"></div>

						<div class="text">
							<span class="date">{{ post.created | date:'d, F Y'}}</span>
							<h2>{{post.title}}</h2>
						</div>
					</a>
                    
                    {% endfor %}
				</div>
				<div class="col-md-4">
                    {% for post in posts|slice:'3:5' %}
                    
                    <a href="{% url "blog-post" post.id %}" class="h-entry mb-30 v-height gradient">

                        <div class="featured-img" style="background-image: url('{{post.cover.url}}');"></div>

                        <div class="text">
                            <span class="date">{{ post.created | date:'d, F Y'}}</span>
                            <h2>{{post.title}}</h2>
                        </div>
                    </a>
                    
                    
                    {% endfor %}
                    
                </div>
			</div>
		</div>
	</section>
	<!-- End retroy layout blog posts -->

	<!-- Start posts-entry -->
	{% for category in categories|slice:1 %}
	<section class="section posts-entry bg-light">
		<div class="container">


			<div class="row mb-4">
				
				<div class="col-sm-6">
					
						<h2 class="posts-entry-title">{{category.name}}</h2>
					
						
				</div>
				<div class="col-sm-6 text-sm-end"><a href="{% url "category" %}?q={{category.name}}" class="read-more">View All</a></div>
			</div>


			<div class="row g-3">
				<div class="col-md-9">
					<div class="row g-3">
						{% for blog in category.post_set.all|slice:2 %}
						<div class="col-md-6">
							<div class="blog-entry">
								<a href="{% url "blog-post" blog.id %}" class="img-link v-height">
									<img src="{{blog.cover.url}}" alt="Image" class="img-fluid v-height">
								</a>
								<span class="date">{{blog.created |  date:'d, F Y'}}</span>
								<h2><a href="{% url "blog-post" blog.id %}">{{blog.title}}</a></h2>
								<p>{{blog.details|truncatechars:'100'|safe }}</p>
								<p><a href="{% url "blog-post" blog.id %}" class="btn btn-sm btn-outline-primary">Read More</a></p>
							</div>
						</div>
						{% endfor %}
						
					</div>
				</div>
				<div class="col-md-3">
					<ul class="list-unstyled blog-entry-sm">
						{% for blog in category.post_set.all|slice:"2:5" %}
						<li>
							<span class="date">{{blog.created |  date:'d, F Y'}}</span>
							<h3><a href="{% url "blog-post" blog.id %}">{{blog.title}}</a></h3>
							<p>{{blog.details|truncatechars:'100'|safe }}</p>
							<p><a href="{% url "blog-post" blog.id %}" class="read-more">Continue Reading</a></p>
						</li>
						{% endfor %}
						
					</ul>
				</div>
			</div>

		</div>
	</section>
	<!-- End posts-entry -->

	<!-- Start posts-entry -->
	<section class="section posts-entry posts-entry-sm bg-dark">
		<div class="container">
			<div class="row">
				{% for blog in category.post_set.all|slice:"5:9" %}
				<div class="col-md-6 col-lg-3">
					<div class="blog-entry v-height">
						<a href="{% url "blog-post" blog.id %}" class="img-link v-height">
							<img src="{{blog.cover.url}}" alt="Image" class="img-fluid v-height">
						</a>
						<span class="date">{{blog.created | date:'d, F Y' }}</span>
						<h2><a href="{% url "blog-post" blog.id %}">{{blog.title}}</a></h2>
						<p>{{blog.details|truncatechars:'100'|safe }}</p>
						<p><a href="{% url "blog-post" blog.id %}" class="read-more">Continue Reading</a></p>
					</div>
				</div>
				{% endfor %}

				
			</div>
		</div>
	</section>

	{% endfor %}

	<!-- End posts-entry -->

	<!-- Start posts-entry -->
	<section class="section posts-entry bg-light">
		<div class="container">
			{% for category in categories|slice:'1:2' %}
			<div class="row mb-4">
				<div class="col-sm-6">
					
						<h2 class="posts-entry-title">{{category.name}}</h2>
						
				</div>
				<div class="col-sm-6 text-sm-end"><a href="{% url "category" %}?q={{category.name}}" class="read-more">View All</a></div>
				
			</div>
			<div class="row g-3">
				<div class="col-md-9 order-md-2">
					<div class="row g-3">
						{% for blog in category.post_set.all|slice:2 %}
						<div class="col-md-6">
							<div class="blog-entry v-height">
								<a href="{% url "blog-post" blog.id %}" class="img-link v-height">
									<img src="{{blog.cover.url}}" alt="Image" class="img-fluid v-height">
								</a>
								<span class="date">{{blog.created |  date:'d, F Y'}}</span>
								<h2><a href="{% url "blog-post" blog.id %}">{{blog.title}}</a></h2>
								<p>{{blog.details|truncatechars:'100'|safe}}</p>
								<p><a href="{% url "blog-post" blog.id %}" class="btn btn-sm btn-outline-primary">Read More</a></p>
							</div>
						</div>
						{% endfor %}
						
					</div>
				</div>
				<div class="col-md-3">
					<ul class="list-unstyled blog-entry-sm">
						{% for blog in category.post_set.all|slice:"2:5" %}
						<li>
							<span class="date">{{blog.created |  date:'d, F Y'}}</span>
							<h3><a href="{% url "blog-post" blog.id %}">{{blog.title}}</a></h3>
							<p>{{business.details|truncatechars:'100'|safe}}</p>
							<p><a href="{% url "blog-post" blog.id %}" class="read-more">Continue Reading</a></p>
						</li>
						{% endfor %}
					</ul>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>

	<section class="section">
		<div class="container">
			{% for category in categories|slice:'2:3' %}
			<div class="row mb-4">
				<div class="col-sm-6">
					
						<h2 class="posts-entry-title">{{category.name}}</h2>
						
				</div>
				<div class="col-sm-6 text-sm-end"><a href="{% url "category"  %}?q={{category.name}}" class="read-more ">View All</a></div>
			</div>

			<div class="row">

				{% for blog in category.post_set.all|slice:":9" %}
				<div class="col-lg-4 mb-4 ">
					<div class="post-entry-alt bg-light v-pheight rounded-2">
						<a href="{% url "blog-post" blog.id %}" class="img-link v-pheight"><img src="{{blog.cover.url}}" alt="Image" class="img-fluid v-pheight"></a>
						<div class="excerpt p-2">
							

							<h2><a href="{% url "blog-post" blog.id %}">{{blog.title}}</a></h2>
							<div class="post-meta align-items-center text-left clearfix">
								<figure class="author-figure mb-0 me-3 float-start"><img src="{{blog.author.avatar.url}}" alt="Image" class="img-fluid"></figure>
								<span class="d-inline-block mt-1">By <a href="{% url "profile" blog.author.id %}">{{blog.author.name|capfirst}}</a></span>
								<span>&nbsp;-&nbsp; {{blog.created |  date:'d, F Y'}}</span>
							</div>

							<p>{{blog.details|truncatechars:'100'|safe}}</p>
							<p><a href="{% url "blog-post" blog.id %}" class="read-more">Continue Reading</a></p>
						</div>
					</div>
				</div>
				{% endfor %}
				
			</div>
			{% endfor %}
		</div>
	</section>

	
	<div class="section bg-light">
		<div class="container">
			{% for category in categories|slice:'3:4' %}

			<div class="row mb-4">
				<div class="col-sm-6">
					<h2 class="posts-entry-title">{{category.name}}</h2>
					
							
				</div>
				<div class="col-sm-6 text-sm-end"><a href="{% url "category" %}?q={{category.name}}" class="read-more">View All</a></div>
			</div>

			<div class="row align-items-stretch retro-layout-alt">

				<div class="col-md-5 order-md-2">
					{% for blog in category.post_set.all|slice:1 %}
					<a href="{% url "blog-post" blog.id %}" class="hentry img-1 h-100 gradient">
						<div class="featured-img" style="background-image: url('{{blog.cover.url}}');"></div>
						<div class="text">
							<span>{{blog.created |  date:'d, F Y'}}</span>
							<h2>{{blog.title}}</h2>
						</div>
					</a>
					{% endfor %}
				</div>

				<div class="col-md-7">
					{% for blog in category.post_set.all|slice:"1:2" %}
					<a href="{% url "blog-post" blog.id %}" class="hentry img-2 v-height mb30 gradient">
						<div class="featured-img" style="background-image: url('{{blog.cover.url}}');"></div>
						<div class="text text-sm">
							<span>{{blog.created| date:'d, F Y'}}</span>
							<h2>{{blog.title}}</h2>
						</div>
					</a>
					{% endfor %}
					<div class="two-col d-block d-md-flex justify-content-between">
						{% for blog in category.post_set.all|slice:"2:4" %}
							<a href="{% url "blog-post" blog.id %}" class="hentry img-2 v-height mb30 gradient">
								<div class="featured-img" style="background-image: url('{{blog.cover.url}}');"></div>
								<div class="text text-sm">
									<span>{{blog.created|date:'d, F Y'}}</span>
									<h2>{{blog.title}}</h2>
								</div>
							</a>
						
						{% endfor %}
						
					</div>  

				</div>
			</div>
			{% endfor %}		

		</div>
	</div>



    <section class="mt-0">
        {% block footer %}
        {% include "footer.html" %}
        {% endblock footer %}
    </section>
	

    <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "js/tiny-slider.js" %}"></script>

    <script src="{% static "js/flatpickr.min.js" %}"></script>


    <script src="{% static "js/aos.js" %}"></script>
    <script src="{% static "js/glightbox.min.js" %}"></script>
    <script src="{% static "js/navbar.js" %}"></script>
    <script src="{% static "js/counter.js" %}"></script>
    <script src="{% static "js/custom.js" %}"></script>
    <script src="{% static "js/scroll-bottom-to-top.js" %}"></script>

  
  </body>
  </html>
